.link-button {
    list-style-type: none;
    height: auto;
    margin: 10px 0px;
    background-color: #04AA6D;
    color: #ffffff;
    border-color: #04AA6D;
    font-size: 14px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 5px;
    border: 1px solid #cccccc;
    border-radius: 5px;
}